# [name only] `1D list`

In [1]:
friends = ['vidu', 'rahul', 'muskan', 'sanika']

In [2]:
def is_friend(name):
  return name in friends


def add_friend(name):
  if not is_friend(name):
    friends.append(name)


def remove_friend(name):
  if is_friend(name):
    friends.remove(name)


add_friend('harikesh')
add_friend('gauri')
remove_friend('sanika')
remove_friend('gauri')
friends

['vidu', 'rahul', 'muskan', 'harikesh']

# [name + place] `2D list`

In [3]:
friends = [
    ('vidu', 'hbh'),
    ('vishnu', 'hbh'),
    ('rahul', 'albd'),
    ('muskan', 'raipur'),
    ('sanika', 'pune')
]

In [4]:
def get_names():
  return [tup[0] for tup in friends]


def get_places():
  return [tup[1] for tup in friends]


def get_place_of(name):
  return [tup[1] for tup in friends if tup[0] == name][0]


def get_people_from(place):
  return [tup[0] for tup in friends if tup[1] == place]


def is_friend(name):
  return name in get_names()


def add_friend(name, place):
  if not is_friend(name):
    friends.append((name, place))


def remove_friend(name):
  if is_friend(name):
    place = get_place_of(name)
    friends.remove((name, place))


get_names()
get_places()
get_place_of('rahul')
get_people_from('hbh')
is_friend('rahul')
add_friend('cmd', 'albd')
add_friend('harikesh', 'albd')
remove_friend('sanika')
friends

['vidu', 'vishnu', 'rahul', 'muskan', 'sanika']

['hbh', 'hbh', 'albd', 'raipur', 'pune']

'albd'

['vidu', 'vishnu']

True

[('vidu', 'hbh'),
 ('vishnu', 'hbh'),
 ('rahul', 'albd'),
 ('muskan', 'raipur'),
 ('cmd', 'albd'),
 ('harikesh', 'albd')]

# [name + place + age] `2D list`

In [5]:
friends = [
    ('vidu', 'hbh', 25),
    ('vishnu', 'hbh', 12),
    ('rahul', 'albd', 21),
    ('muskan', 'raipur', 20),
    ('sanika', 'pune', 27)
]

In [6]:
def get_names():
  return [tup[0] for tup in friends]


def get_places():
  return [tup[1] for tup in friends]


def get_people_from(place):
  return [tup[0] for tup in friends if tup[1] == place]


def get_place_of(name):
  return [tup[1] for tup in friends if tup[0] == name][0]


def get_age_of(name):
  return [tup[2] for tup in friends if tup[0] == name][0]


def is_friend(name):
  return name in get_names()


def add_friend(name, place, age):
  if not is_friend(name):
    friends.append((name, place, age))


def remove_friend(name):
  if is_friend(name):
    friends.remove((name, get_place_of(name), get_age_of(name)))


get_names()
get_places()
get_people_from('hbh')
get_place_of('rahul')
get_age_of('rahul')
is_friend('sanika'), is_friend('harikesh')
add_friend('cmd', 'albd', 19)
add_friend('harikesh', 'albd', 22)
add_friend('gauri', 'delhi', 25)
remove_friend('sanika')
friends

['vidu', 'vishnu', 'rahul', 'muskan', 'sanika']

['hbh', 'hbh', 'albd', 'raipur', 'pune']

['vidu', 'vishnu']

'albd'

21

(True, False)

[('vidu', 'hbh', 25),
 ('vishnu', 'hbh', 12),
 ('rahul', 'albd', 21),
 ('muskan', 'raipur', 20),
 ('cmd', 'albd', 19),
 ('harikesh', 'albd', 22),
 ('gauri', 'delhi', 25)]

# [name + place + age] `friends = {name: [...]}`