In [27]:
gradebook = [
    ['rahul', 'vidu', 'muskan', 'sanika'],  # students
    ['maths1', 'mlf', 'pdsa', 'dbms'],  # courses
    [  # enrollments
        ('vidu', 'maths1'),
        ('vidu', 'pdsa'),
        ('rahul', 'pdsa'),
        ('muskan', 'dbms')
    ]
]

In [28]:
# add harikesh
gradebook[0].append('harikesh')

In [29]:
# add english
gradebook[1].append('english')

In [30]:
# add (harikesh, english), (harikesh, maths1) in enrollments
gradebook[2].append(('harikesh', 'english'))
gradebook[2].append(('harikesh', 'maths1'))

In [31]:
# list all students
gradebook[0]

# list all courses
gradebook[1]

# list all enrollments
gradebook[2]

['rahul', 'vidu', 'muskan', 'sanika', 'harikesh']

['maths1', 'mlf', 'pdsa', 'dbms', 'english']

[('vidu', 'maths1'),
 ('vidu', 'pdsa'),
 ('rahul', 'pdsa'),
 ('muskan', 'dbms'),
 ('harikesh', 'english'),
 ('harikesh', 'maths1')]

In [32]:
# students who have taken maths1
[row[0] for row in gradebook[2] if row[1] == 'maths1']

['vidu', 'harikesh']

In [33]:
# which courses vidu has taken
[row[1] for row in gradebook[2] if row[0] == 'vidu']

['maths1', 'pdsa']

In [54]:
# which students have taken at least 1 course
set(row[0] for row in gradebook[2])

{'harikesh', 'muskan', 'rahul', 'vidu'}

In [58]:
# which students have taken 0 courses
set(gradebook[0]) - set(row[0] for row in gradebook[2])

{'sanika'}

In [59]:
# which course has at least 1 enrollment
set(row[1] for row in gradebook[2])

{'dbms', 'english', 'maths1', 'pdsa'}

In [60]:
# which courses has 0 enrollments
set(gradebook[1]) - set(row[1] for row in gradebook[2])

{'mlf'}