In [1]:
len(list('pack my box with five dozen liquor jugs'.replace(' ', '')))
len('pack my box with five dozen liquor jugs')

32

39

In [31]:
class Student:
  idx = 1

  def __init__(self, name):
    self.roll_no = Student.idx
    Student.idx += 1
    self.name = name.upper()


rahul = Student('rahul maurya')
vidu = Student('vidu hr')
muskan = Student('muskan ag')
harikesh = Student('harikesh shukla')

rahul.roll_no
vidu.roll_no
muskan.roll_no
harikesh.roll_no

1

2

3

4

In [7]:
from string import Template

statement = 'i am $name, i live in $place'

out = Template(statement)

print(out.safe_substitute({'name': 'vidu'}))

i am vidu, i live in $place

In [8]:
from jinja2 import Template

template = Template('${{city3}} and ${{city4}} are in ${{country2}}')
out1 = template.render(city3='city2', city4='city1', country2='country1')
print(out1)

$city2 and $city1 are in $country1

In [31]:
from string import Template

template = Template(out1)
out2 = template.substitute(city2='Delhi', city1='Mumbai', country1='India')
print(out2)

Delhi and Mumbai are in India

In [3]:
from jinja2 import Template
temp = """
{% for vid, members in interfaces|groupby(attribute='lan') %}
Interfaces in lan {{ vid }}: {{ members|map(attribute='name')|join(', ') }}
{% endfor %}
"""

interfaces = [
    {'name': 'Ether1', 'lan': 50},
    {'name': 'Ether2', 'lan': 40},
    {'name': 'Ether3', 'lan': 50},
    {'name': 'Ether4', 'lan': 60},
]

output = Template(temp).render(interfaces=interfaces)
print(output)

Interfaces in lan 40: Ether2

Interfaces in lan 50: Ether1, Ether3

Interfaces in lan 60: Ether4

In [1]:
import sqlite3

In [5]:
# Connect to SQLite database
conn = sqlite3.connect('test.db')
cursor = conn.cursor()

In [6]:
# Create the student table
cursor.execute('''
CREATE TABLE student (
    RollNo INTEGER PRIMARY KEY,
    Name TEXT,
    SubjectID TEXT
)
''')

In [7]:
# Create the subject table
cursor.execute('''
CREATE TABLE subject (
    SubjectID TEXT PRIMARY KEY,
    SubjectName TEXT
)
''')

In [8]:
# Insert data into student table
students = [
    (1, 'Kavi', 'S1'),
    (2, 'Subhash', 'S2'),
    (3, 'Nazrul', 'S1'),
    (4, 'Tagore', 'S3'),
    (5, 'Rohit', 'S2'),
    (6, 'Sourav', 'S1')
]
cursor.executemany('INSERT INTO student VALUES (?, ?, ?)', students)
conn.commit()

In [9]:
# Insert data into subject table
subjects = [
    ('S1', 'Bengali'),
    ('S2', 'English'),
    ('S3', 'Hindi')
]
cursor.executemany('INSERT INTO subject VALUES (?, ?)', subjects)
conn.commit()

In [22]:
# Run a select query to verify
cursor.execute("""
SELECT * FROM student NATURAL JOIN subject
               WHERE subject.subjectName = 'Bengali'
""")
result = cursor.fetchall()
result

[(1, 'Kavi', 'S1', 'Bengali'),
 (3, 'Nazrul', 'S1', 'Bengali'),
 (6, 'Sourav', 'S1', 'Bengali')]

In [21]:
# Run a select query to verify
cursor.execute("""
SELECT * FROM student INNER JOIN subject
               ON student.SubjectId = subject.SubjectId
               WHERE subject.subjectName = 'Bengali'
""")
result = cursor.fetchall()
result

[(1, 'Kavi', 'S1', 'S1', 'Bengali'),
 (3, 'Nazrul', 'S1', 'S1', 'Bengali'),
 (6, 'Sourav', 'S1', 'S1', 'Bengali')]

In [20]:
# Run a select query to verify
cursor.execute("""
SELECT * FROM student, subject
               WHERE student.SubjectId = subject.SubjectId
               AND subject.subjectName = 'Bengali'
""")
result = cursor.fetchall()
result

[(1, 'Kavi', 'S1', 'S1', 'Bengali'),
 (3, 'Nazrul', 'S1', 'S1', 'Bengali'),
 (6, 'Sourav', 'S1', 'S1', 'Bengali')]