In [5]:
len(list('pack my box with five dozen liquor jugs'.replace(' ', '')))
len(set(list('pack my box with five dozen liquor jugs'.replace(' ', ''))))

32

26

In [31]:
class Student:
  idx = 1

  def __init__(self, name):
    self.roll_no = Student.idx
    Student.idx += 1
    self.name = name.upper()


rahul = Student('rahul maurya')
vidu = Student('vidu hr')
muskan = Student('muskan ag')
harikesh = Student('harikesh shukla')

rahul.roll_no
vidu.roll_no
muskan.roll_no
harikesh.roll_no

1

2

3

4

In [16]:
from string import Template

statement = 'i am $name, i live in $place'

out = Template(statement)

print(out.safe_substitute({}))

i am $name, i live in $place

In [30]:
from jinja2 import Template

template = Template('${{city3}} and ${{city4}} are in ${{country2}}')
out1 = template.render(city3='city2', city4='city1', country2='country1')
print(out1)

$city2 and $city1 are in $country1

In [31]:
from string import Template

template = Template(out1)
out2 = template.substitute(city2='Delhi', city1='Mumbai', country1='India')
print(out2)

Delhi and Mumbai are in India