In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('test.db')
cur = conn.cursor()

# SELECT

In [4]:
cur.execute('select * from students')
students = cur.fetchall()
for id, name, place, age in students:
  print(name)

vidu
rahul
harikesh

# CREATE

In [3]:
cur.execute("""CREATE TABLE students (
                id INTEGER PRIMARY KEY,
                name TEXT,
                place TEXT,
                age INTEGER
            )""")
conn.commit()

In [4]:
cur.execute("""CREATE TABLE courses (
                id INTEGER PRIMARY KEY,
                name TEXT,
                credits INTEGER
            )""")
conn.commit()

In [5]:
cur.execute("""CREATE TABLE enrolls (
                id INTEGER PRIMARY KEY,
                student_id INTEGER,
                course_id INTEGER,
                term TEXT,
                year INTEGER,
                FOREIGN KEY(student_id) REFERENCES students(id),
                FOREIGN KEY(course_id) REFERENCES courses(id)
            )""")
conn.commit()

# Insert functions

In [ ]:
def add_student(name, place, age):
  cur.execute("INSERT INTO students (name, place, age) VALUES (?, ?, ?)", (name, place, age))
  conn.commit()


# add_student('vidu', 'hbh', 22)
# add_student('rahul', 'albd', 21)
# add_student('harikesh', 'bhadohi', 26)

In [8]:
def add_course(name, credits):
  cur.execute('INSERT INTO courses (name, credits) VALUES (?, ?)', (name, credits))
  conn.commit()


add_course('maths1', 4)
add_course('stats1', 8)

In [10]:
def add_enroll(student_id, course_id, term, year):
  cur.execute('INSERT INTO enrolls (student_id, course_id, term, year) VALUES (?, ?, ?, ?)',
              (student_id, course_id, term, year))
  conn.commit()


# add_enroll(3, 1, 't1', 2024)
add_enroll(2, 2, 't2', 2024)

In [16]:
cur.execute('select name, age from students')
cur.fetchall()

[('vidu', 22), ('rahul', 21), ('harikesh', 26)]

In [17]:
cur.execute('select name, age from students')
for row in cur.fetchall():
  print(f'{row[0]} is {row[1]} years old')

vidu is 22 years old
rahul is 21 years old
harikesh is 26 years old

In [29]:
cur.execute("""
select students.name, students.place, courses.name
            from enrolls
            inner join students on students.id = enrolls.student_id
            inner join courses on courses.id = enrolls.course_id
""")
result = cur.fetchall()

result

for name, place, course in result:
  print(f'{name} from {place} has taken {course}')

[('harikesh', 'bhadohi', 'maths1'), ('rahul', 'albd', 'stats1')]

harikesh from bhadohi has taken maths1
rahul from albd has taken stats1