In [39]:
from sqlalchemy import Column, Integer, String, ForeignKey, create_engine
from sqlalchemy.orm import sessionmaker, declarative_base, relationship

In [40]:
Base = declarative_base()

In [41]:
class Student(Base):
  __tablename__ = 'students'

  id = Column(Integer, primary_key=True)
  name = Column(String)
  place = Column(String)
  age = Column(Integer)

  courses = relationship('Course', secondary='enrolls', back_populates='students')

  def __repr__(self):
    return f'<Student {self.name}>'

In [42]:
class Course(Base):
  __tablename__ = 'courses'

  id = Column(Integer, primary_key=True)
  name = Column(String)
  credits = Column(Integer)

  students = relationship('Student', secondary='enrolls', back_populates='courses')

  def __repr__(self):
    return f'<Course {self.name}>'

In [43]:
class Enroll(Base):
  __tablename__ = 'enrolls'

  id = Column(Integer, primary_key=True)

  student_id = Column(Integer, ForeignKey('students.id'))
  course_id = Column(Integer, ForeignKey('courses.id'))
  term = Column(String)
  year = Column(Integer)

  def __repr__(self):
    return f'<Enroll {self.student_id} {self.course_id}>'

In [44]:
engine = create_engine('sqlite:///:memory:')
Base.metadata.create_all(engine)

# Query and Insert

In [45]:
Session = sessionmaker(bind=engine)
session = Session()

In [46]:
session.add(Student(name='harikesh', place='albd', age=22))
session.add(Student(name='cmd', place='albd', age=19))
session.add(Course(name='maths1', credits=8))
session.add(Course(name='stats1', credits=4))
session.commit()

In [47]:
session.add(Enroll(student_id=2, course_id=2, term='t2', year=2024))
session.add(Enroll(student_id=2, course_id=1, term='t1', year=2022))
session.add(Enroll(student_id=1, course_id=1, term='t3', year=2024))
session.commit()

In [48]:
session.query(Student).all()
session.query(Course).all()
session.query(Enroll).all()

In [65]:
enrolls = session.query(Enroll).all()
for enroll in enrolls:
  student = session.query(Student).filter_by(id=enroll.student_id).first()
  course = session.query(Course).filter_by(id=enroll.course_id).first()
  print(student.name, course.name)

cmd stats1
cmd maths1
harikesh maths1