# [name only]

In [6]:
friends = ['vidu', 'rahul', 'muskan', 'sanika']


def is_friend(name):
  return name in friends


def add_friend(name):
  if name not in friends:
    friends.append(name)


def remove_friend(name):
  if name in friends:
    friends.remove(name)


add_friend('cmd')
add_friend('harikesh')
remove_friend('sanika')
is_friend('zebra'), is_friend('sanika'), is_friend('vidu')
friends

(False, False, True)

['vidu', 'rahul', 'muskan', 'cmd', 'harikesh']

# [name + place]

In [24]:
# 1D list
lst = [1, 2, 3]
lst[0]

1

In [25]:
# 2D list
lst = [
    [1, 2, 3],
    [11, 22, 33]
]

lst[0]
lst[0][0]

[1, 2, 3]

1

In [79]:
# 3D list
lst = [
    [
        [20, 30, 40],
        [90, 80, 70]
    ],
    [
        [40, 50, 60],
        [100, 110, 120]
    ]
]

lst[0]
lst[0][0]
lst[0][0][2]

[[20, 30, 40], [90, 80, 70]]

[20, 30, 40]

40

In [31]:
lst = [50]
lst
lst[0]

[50]

50

In [42]:
friends = [
    ['vidu', 'hbh'],
    ['vishnu', 'hbh'],
    ['rahul', 'albd'],
    ['muskan', 'raipur'],
    ['sanika', 'pune']
]


def get_names():
  return [row[0] for row in friends]


def get_places():
  return [row[1] for row in friends]


def get_place_of(name):
  return [row[1] for row in friends if row[0] == name][0]


def get_people_from(place):
  return [row[0] for row in friends if row[1] == place]


def add_friend(name, place):
  if name not in get_names():
    friends.append([name, place])


def remove_friend(name):
  if name in get_names():
    friends.remove([name, get_place_of(name)])


get_names()
get_places()
get_place_of('rahul')
get_people_from('hbh')

add_friend('cmd', 'albd')
add_friend('harikesh', 'albd')
remove_friend('sanika')
friends

['vidu', 'vishnu', 'rahul', 'muskan', 'sanika']

['hbh', 'hbh', 'albd', 'raipur', 'pune']

'albd'

['vidu', 'vishnu']

[['vidu', 'hbh'],
 ['vishnu', 'hbh'],
 ['rahul', 'albd'],
 ['muskan', 'raipur'],
 ['cmd', 'albd'],
 ['harikesh', 'albd']]

In [18]:
friends = [
    ['vidu', 'hbh'],
    ['vishnu', 'hbh'],
    ['rahul', 'albd'],
    ['muskan', 'raipur'],
    ['sanika', 'pune']
]


def get_names():
  return [row[0] for row in friends]


def get_places():
  return [row[1] for row in friends]


def get_place_of(name):
  return [row[1] for row in friends if row[0] == name][0]


def get_people_from(place):
  return [row[0] for row in friends if row[1] == place]


def add_friend(name, place):
  if name not in get_names():
    friends.append([name, place])


def remove_friend(name):
  if name in get_names():
    friends.remove([name, get_place_of(name)])


get_names()
get_places()
get_place_of('rahul')
get_people_from('hbh')

add_friend('cmd', 'albd')
remove_friend('sanika')
friends

['vidu', 'vishnu', 'rahul', 'muskan', 'sanika']

['hbh', 'hbh', 'albd', 'raipur', 'pune']

'albd'

['vidu', 'vishnu']

[['vidu', 'hbh'],
 ['vishnu', 'hbh'],
 ['rahul', 'albd'],
 ['muskan', 'raipur'],
 ['cmd', 'albd']]

# [name + place + age]

In [67]:
friends = [
    ['vidu', 'hbh', 25],
    ['vishnu', 'hbh', 12],
    ['rahul', 'albd', 21],
    ['muskan', 'raipur', 20],
    ['sanika', 'pune', 27]
]


def get_names():
  return [row[0] for row in friends]


def get_places():
  return [row[1] for row in friends]


def get_people_from(place):
  return [row[0] for row in friends if row[1] == place]


def get_place_of(name):
  return [row[1] for row in friends if row[0] == name][0]


def get_age_of(name):
  return [row[2] for row in friends if row[0] == name][0]


def add_friend(name, place, age):
  if name not in get_names():
    friends.append([name, place, age])


def remove_friend(name):
  if name in get_names():
    friends.remove([name, get_place_of(name), get_age_of(name)])


get_names()
get_places()
get_place_of('rahul')
get_age_of('rahul')
get_people_from('hbh')

add_friend('cmd', 'albd', 19)
remove_friend('sanika')
friends

['vidu', 'vishnu', 'rahul', 'muskan', 'sanika']

['hbh', 'hbh', 'albd', 'raipur', 'pune']

'albd'

21

['vidu', 'vishnu']

[['vidu', 'hbh', 25],
 ['vishnu', 'hbh', 12],
 ['rahul', 'albd', 21],
 ['muskan', 'raipur', 20],
 ['cmd', 'albd', 19]]

# [name + place + age] `friends = {...}`

In [14]:
friends = {
    'vidu': ['hbh', 25],
    'vishnu': ['hbh', 12],
    'rahul': ['albd', 21],
    'muskan': ['raipur', 20],
    'sanika': ['pune', 27]
}


def get_names():
  return friends.keys()


def get_places():
  return [data[0] for data in friends.values()]


def get_people_from(place):
  return [name for name, data in friends.items() if data[0] == place]


def get_place_of(name):
  return friends[name][0]


def get_age_of(name):
  return friends[name][1]


def add_friend(name, place, age):
  if name not in friends:
    friends[name] = [place, age]


def remove_friend(name):
  if name in friends:
    del friends[name]


get_names()
get_places()
get_place_of('rahul')
get_age_of('rahul')
get_people_from('hbh')

add_friend('cmd', 'albd', 19)
remove_friend('sanika')
friends

dict_keys(['vidu', 'vishnu', 'rahul', 'muskan', 'sanika'])

['hbh', 'hbh', 'albd', 'raipur', 'pune']

'albd'

21

['vidu', 'vishnu']

{'vidu': ['hbh', 25],
 'vishnu': ['hbh', 12],
 'rahul': ['albd', 21],
 'muskan': ['raipur', 20],
 'cmd': ['albd', 19]}

In [20]:
friends = {
    'vidu': {
        'place': 'hbh', 'age': 25
    },
    'vishnu': {
        'place': 'hbh', 'age': 12
    },
    'rahul': {
        'place': 'albd', 'age': 21
    },
    'muskan': {
        'place': 'raipur', 'age': 20
    },
    'sanika': {
        'place': 'pune', 'age': 27
    }
}


def get_names():
  return friends.keys()


def get_places():
  return [data['place'] for data in friends.values()]


def get_people_from(place):
  return [name for name, data in friends.items() if data['place'] == place]


def get_place_of(name):
  return friends[name]['place']


def get_age_of(name):
  return friends[name]['age']


def add_friend(name, place, age):
  if name not in friends:
    friends[name] = {'place': place, 'age': age}


def remove_friend(name):
  if name in friends:
    del friends[name]


get_names()
get_places()
get_place_of('rahul')
get_age_of('rahul')
get_people_from('hbh')

add_friend('cmd', 'albd', 19)
remove_friend('sanika')
friends

dict_keys(['vidu', 'vishnu', 'rahul', 'muskan', 'sanika'])

['hbh', 'hbh', 'albd', 'raipur', 'pune']

'albd'

21

['vidu', 'vishnu']

{'vidu': {'place': 'hbh', 'age': 25},
 'vishnu': {'place': 'hbh', 'age': 12},
 'rahul': {'place': 'albd', 'age': 21},
 'muskan': {'place': 'raipur', 'age': 20},
 'cmd': {'place': 'albd', 'age': 19}}