In [1]:
import pyhtml as h

# people_places

In [2]:
people_places = [
    ["Vidu", "HBH"],
    ["Rahul", "Bhadohi"],
    ["Harikesh", "Bhadohi"],
    ["Muskan", "Raipur"],
    ["Vaish", "Indore"]
]

In [3]:
markup = h.div(
    h.p(f"I am {name}, I live in {place}") for name, place in people_places
)

print(markup)

<div>
  <p>
    I am Vidu, I live in HBH
  </p>
  <p>
    I am Rahul, I live in Bhadohi
  </p>
  <p>
    I am Harikesh, I live in Bhadohi
  </p>
  <p>
    I am Muskan, I live in Raipur
  </p>
  <p>
    I am Vaish, I live in Indore
  </p>
</div>

# todos

In [4]:
todos = [
    {"text": "Learn good styling", "status": "done"},
    {"text": "Learn varna of raga kamboji", "status": "pending"},
    {"text": "Learn", "status": "pending"},
    {"text": "Fly in an airplane", "status": "pending"},
    {"text": "Fly in a hot air balloon", "status": "pending"},
    {"text": "Swim in the ocean", "status": "done"},
    {"text": "Sky jump", "status": "pending"},
    {"text": "Travel to Norway", "status": "pending"}
]

In [5]:
def get_emoji(status):
  if status == "done":
    return "✅"
  elif status == "pending":
    return "⌛"


markup = h.div(class_="container")(
    h.div(class_=f'todo {todo['status']}')(f"{get_emoji(todo['status'])} {todo['text']}")
    for todo in todos
)

print(markup)

<div class="container">
  <div class="todo done">
    ✅ Learn good styling
  </div>
  <div class="todo pending">
    ⌛ Learn varna of raga kamboji
  </div>
  <div class="todo pending">
    ⌛ Learn
  </div>
  <div class="todo pending">
    ⌛ Fly in an airplane
  </div>
  <div class="todo pending">
    ⌛ Fly in a hot air balloon
  </div>
  <div class="todo done">
    ✅ Swim in the ocean
  </div>
  <div class="todo pending">
    ⌛ Sky jump
  </div>
  <div class="todo pending">
    ⌛ Travel to Norway
  </div>
</div>

# Week 3 Lab

In [6]:
data = [
    (1001, 2001, 56), (1002, 2001, 67), (1003, 2001, 78), (1004, 2001, 90), (1005, 2001, 45),
    (1001, 2002, 58), (1002, 2002, 98), (1009, 2002, 12), (1007, 2002, 99), (1008, 2002, 39),
    (1003, 2003, 34), (1004, 2003, 43), (1000, 2003, 25), (1060, 2003, 60), (1090, 2003, 88),
    (1005, 2004, 81), (1080, 2004, 59), (1030, 2004, 87), (1001, 2004, 35), (1090, 2004, 33)
]

In [7]:
header = h.tr(
    h.th("Student ID"),
    h.th("Course ID"),
    h.th("Marks")
)

data_rows = [h.tr(
    h.td(student), h.td(course), h.td(marks)
) for student, course, marks in data]

markup = h.table(
    header,
    *data_rows
)

print(markup)

<table>
  <tr>
    <th>
      Student ID
    </th>
    <th>
      Course ID
    </th>
    <th>
      Marks
    </th>
  </tr>
  <tr>
    <td>
      1001
    </td>
    <td>
      2001
    </td>
    <td>
      56
    </td>
  </tr>
  <tr>
    <td>
      1002
    </td>
    <td>
      2001
    </td>
    <td>
      67
    </td>
  </tr>
  <tr>
    <td>
      1003
    </td>
    <td>
      2001
    </td>
    <td>
      78
    </td>
  </tr>
  <tr>
    <td>
      1004
    </td>
    <td>
      2001
    </td>
    <td>
      90
    </td>
  </tr>
  <tr>
    <td>
      1005
    </td>
    <td>
      2001
    </td>
    <td>
      45
    </td>
  </tr>
  <tr>
    <td>
      1001
    </td>
    <td>
      2002
    </td>
    <td>
      58
    </td>
  </tr>
  <tr>
    <td>
      1002
    </td>
    <td>
      2002
    </td>
    <td>
      98
    </td>
  </tr>
  <tr>
    <td>
      1009
    </td>
    <td>
      2002
    </td>
    <td>
      12
    </td>
  </tr>
  <tr>
    <td>
      1007
    </td>
    <td>
      2002
    </td>
    <td>
      99
    </td>
  </tr>
  <tr>
    <td>
      1008
    </td>
    <td>
      2002
    </td>
    <td>
      39
    </td>
  </tr>
  <tr>
    <td>
      1003
    </td>
    <td>
      2003
    </td>
    <td>
      34
    </td>
  </tr>
  <tr>
    <td>
      1004
    </td>
    <td>
      2003
    </td>
    <td>
      43
    </td>
  </tr>
  <tr>
    <td>
      1000
    </td>
    <td>
      2003
    </td>
    <td>
      25
    </td>
  </tr>
  <tr>
    <td>
      1060
    </td>
    <td>
      2003
    </td>
    <td>
      60
    </td>
  </tr>
  <tr>
    <td>
      1090
    </td>
    <td>
      2003
    </td>
    <td>
      88
    </td>
  </tr>
  <tr>
    <td>
      1005
    </td>
    <td>
      2004
    </td>
    <td>
      81
    </td>
  </tr>
  <tr>
    <td>
      1080
    </td>
    <td>
      2004
    </td>
    <td>
      59
    </td>
  </tr>
  <tr>
    <td>
      1030
    </td>
    <td>
      2004
    </td>
    <td>
      87
    </td>
  </tr>
  <tr>
    <td>
      1001
    </td>
    <td>
      2004
    </td>
    <td>
      35
    </td>
  </tr>
  <tr>
    <td>
      1090
    </td>
    <td>
      2004
    </td>
    <td>
      33
    </td>
  </tr>
</table>