# 01-02

In [1]:
import sqlite3
conn = sqlite3.connect(':memory:')
c = conn.cursor()

In [2]:
# Create table Instructors
c.execute('''CREATE TABLE Instructors (
    Instructor_ID INTEGER PRIMARY KEY,
    Instructor_Name TEXT,
    Department_Name TEXT
)''')

In [3]:
# Create table Departments
c.execute('''CREATE TABLE Departments (
    Department_Name TEXT PRIMARY KEY,
    Building_Name TEXT
)''')

In [4]:
# Insert data into Instructors table
data = [
    (101, "Amit Dubey", "Physics"),
    (102, "Sarthak Gaur", "English"),
    (103, "Neha Sharma", "English"),
    (104, "Sumit Kumar", "Chemistry"),
    (105, "Himanshi Mehra", "Mathematics")
]
c.executemany("INSERT INTO Instructors VALUES (?, ?, ?)", data)
conn.commit()

In [5]:
# Insert data into Departments table
data = [
    ("English", "B1"),
    ("Mathematics", "B2"),
    ("Physics", "B3"),
    ("Chemistry", "B2"),
    ("Finance", "B5")
]
c.executemany("INSERT INTO Departments VALUES (?, ?)", data)
conn.commit()

In [6]:
# Run the query
c.execute('''SELECT Instructor_Name
FROM Instructors i
JOIN Departments d ON d.Department_Name = i.Department_Name
WHERE (i.Department_Name = 'English' OR d.Building_Name IN ("B1", "B2"))''')

result = c.fetchall()
print(result)

[('Sarthak Gaur',), ('Neha Sharma',), ('Sumit Kumar',), ('Himanshi Mehra',)]

In [7]:
# Run the query
c.execute('''SELECT Instructor_Name
FROM Instructors i
INNER JOIN Departments d ON i.Department_Name = d.Department_Name
WHERE d.Building_Name = "B1"''')

result = c.fetchall()
print(result)
print('hello')
print('vidu')

[('Sarthak Gaur',), ('Neha Sharma',)]
hello
vidu

In [8]:
conn.close()

# 03

In [9]:
conn = sqlite3.connect(':memory:')
c = conn.cursor()

In [10]:
# Create the table without a primary key
c.execute('''CREATE TABLE friends (
    name TEXT
)''')

In [11]:
# Insert data
data = ["vidu", "rahul", "muskan", "cmd", "harikesh", "harikesh"]
for name in data:
  c.execute("INSERT INTO friends (name) VALUES (?)", (name,))

conn.commit()

In [12]:
# Print the table contents
c.execute("SELECT * FROM friends")
print(c.fetchall())

conn.close()

[('vidu',), ('rahul',), ('muskan',), ('cmd',), ('harikesh',), ('harikesh',)]