# gradebook as `2D list`

In [27]:
gradebook = [
    [...],  # students
    [...],  # courses
    [...],  # student-course relationships (enrollments)
]

In [28]:
gradebook = [
    ['vidu', 'rahul', 'muskan', 'sanika'],
    ['maths', 'stats', 'mlf', 'pdsa', 'dbms'],
    [
        ('vidu', 'maths'),
        ('vidu', 'mlf'),
        ('rahul', 'pdsa'),
        ('muskan', 'dbms')
    ]
]

In [29]:
gradebook[0].append('harikesh')
gradebook[1].append('english')
gradebook[2].append(('sanika', 'dbms'))
gradebook

[['vidu', 'rahul', 'muskan', 'sanika', 'harikesh'],
 ['maths', 'stats', 'mlf', 'pdsa', 'dbms', 'english'],
 [('vidu', 'maths'),
  ('vidu', 'mlf'),
  ('rahul', 'pdsa'),
  ('muskan', 'dbms'),
  ('sanika', 'dbms')]]

In [30]:
[data[0] for data in gradebook[2]]
[data[0] for data in gradebook[2] if data[1] == 'dbms']

['vidu', 'vidu', 'rahul', 'muskan', 'sanika']

['muskan', 'sanika']

In [31]:
[data[1] for data in gradebook[2]]
[data[1] for data in gradebook[2] if data[0] == 'harikesh']

['maths', 'mlf', 'pdsa', 'dbms', 'dbms']

[]

# gradebook as `dict`

In [32]:
gradebook = {
    'students': [...],  # students
    'courses': [...],  # courses
    'enrollments': [...],  # student-course relationships
}

In [33]:
gradebook = {
    'students': ['vidu', 'rahul', 'muskan', 'sanika'],
    'courses': ['maths', 'stats', 'mlf', 'pdsa', 'dbms'],
    'enrollments': [
        ('vidu', 'maths'),
        ('vidu', 'mlf'),
        ('rahul', 'pdsa'),
        ('muskan', 'dbms')
    ]
}

In [34]:
gradebook['students'].append('harikesh')
gradebook['courses'].append('english')
gradebook['enrollments'].append(('sanika', 'dbms'))
gradebook

{'students': ['vidu', 'rahul', 'muskan', 'sanika', 'harikesh'],
 'courses': ['maths', 'stats', 'mlf', 'pdsa', 'dbms', 'english'],
 'enrollments': [('vidu', 'maths'),
  ('vidu', 'mlf'),
  ('rahul', 'pdsa'),
  ('muskan', 'dbms'),
  ('sanika', 'dbms')]}

In [35]:
[data[0] for data in gradebook['enrollments']]
[data[0] for data in gradebook['enrollments'] if data[1] == 'dbms']

['vidu', 'vidu', 'rahul', 'muskan', 'sanika']

['muskan', 'sanika']

In [36]:
[data[1] for data in gradebook['enrollments']]
[data[1] for data in gradebook['enrollments'] if data[0] == 'harikesh']

['maths', 'mlf', 'pdsa', 'dbms', 'dbms']

[]

# gradebook as `dict`, enrollments also `dict`

In [37]:
gradebook = {
    'students': ['vidu', 'rahul', 'muskan', 'sanika'],
    'courses': ['maths', 'stats', 'mlf', 'pdsa', 'dbms'],
    'enrollments': [
        {'student': 'vidu', 'course': 'maths'},
        {'student': 'vidu', 'course': 'mlf'},
        {'student': 'rahul', 'course': 'pdsa'},
        {'student': 'muskan', 'course': 'dbms'}
    ]
}

In [38]:
gradebook['students'].append('harikesh')
gradebook['courses'].append('english')
gradebook['enrollments'].append({'student': 'sanika', 'course': 'dbms'})
gradebook

{'students': ['vidu', 'rahul', 'muskan', 'sanika', 'harikesh'],
 'courses': ['maths', 'stats', 'mlf', 'pdsa', 'dbms', 'english'],
 'enrollments': [{'student': 'vidu', 'course': 'maths'},
  {'student': 'vidu', 'course': 'mlf'},
  {'student': 'rahul', 'course': 'pdsa'},
  {'student': 'muskan', 'course': 'dbms'},
  {'student': 'sanika', 'course': 'dbms'}]}

In [39]:
[data['student'] for data in gradebook['enrollments']]
[data['student'] for data in gradebook['enrollments'] if data['course'] == 'dbms']

['vidu', 'vidu', 'rahul', 'muskan', 'sanika']

['muskan', 'sanika']

In [40]:
[data['course'] for data in gradebook['enrollments']]
[data['course'] for data in gradebook['enrollments'] if data['student'] == 'harikesh']

['maths', 'mlf', 'pdsa', 'dbms', 'dbms']

[]

# model >>> storing the data >>> doing it right ðŸ¤”

In [41]:
gradebook_bad = {
    'students': [
        ('vidu', [('maths', 't1', 2023), ('mlf', 't2', 2023)]),
        ('rahul', [('pdsa', 't3', 2023)]),
        ('muskan', [('dbms', 't3', 2023)]),
        ('sanika', [])
    ],
    'courses': ['maths', 'stats', 'mlf', 'pdsa', 'dbms'],
}

In [42]:
gradebook_bad_better = {
    'students': [
        {'name': 'vidu', 'enrollments': [('maths', 't1', 2023), ('mlf', 't2', 2023)]},
        {'name': 'rahul', 'enrollments': [('pdsa', 't3', 2023)]},
        {'name': 'muskan', 'enrollments': [('dbms', 't3', 2023)]},
        {'name': 'sanika', 'enrollments':  []}
    ],
    'courses': ['maths', 'stats', 'mlf', 'pdsa', 'dbms'],
}

In [43]:
gradebook_good = {
    'students': ['vidu', 'rahul', 'muskan', 'sanika'],
    'courses': ['maths', 'stats', 'mlf', 'pdsa', 'dbms'],
    'enrollments': [
        {'student': 'vidu', 'course': 'maths', 'term': 't1', 'year': 2023},
        {'student': 'vidu', 'course': 'mlf', 'term': 't2', 'year': 2023},
        {'student': 'rahul', 'course': 'pdsa', 'term': 't3', 'year': 2023},
        {'student': 'muskan', 'course': 'dbms', 'term': 't3', 'year': 2023}
    ]
}

# good model >>> easy to scale ðŸ“ˆ

In [44]:
gradebook_good = {
    'students': [
        {'name': 'vidu', 'place': 'hbh', 'age': 21},
        {'name': 'rahul', 'place': 'albd', 'age': 21},
        {'name': 'muskan', 'place': 'raipur', 'age': 22},
        {'name': 'sanika', 'place': 'pune', 'age': 25},
    ],
    'courses': ['maths', 'stats', 'mlf', 'pdsa', 'dbms'],
    'enrollments': [
        {'student': 'vidu', 'course': 'maths', 'term': 't1', 'year': 2023},
        {'student': 'vidu', 'course': 'mlf', 'term': 't2', 'year': 2023},
        {'student': 'rahul', 'course': 'pdsa', 'term': 't3', 'year': 2023},
        {'student': 'muskan', 'course': 'dbms', 'term': 't3', 'year': 2023}
    ]
}

# good model >>> bulletproof ðŸ’ª

**safe from failure; without errors or shortcomings**

https://www.google.com/search?q=idiom+bulletproof+meaning

In [45]:
gradebook_bulletproof = {
    'students': [
        {'id': 'S001', 'name': 'vidu', 'place': 'hbh', 'age': 21},
        {'id': 'S002', 'name': 'rahul', 'place': 'albd', 'age': 21},
        {'id': 'S003', 'name': 'muskan', 'place': 'raipur', 'age': 22},
        {'id': 'S004', 'name': 'sanika', 'place': 'pune', 'age': 25},
        {'id': 'S005', 'name': 'sanika', 'place': 'mumbai', 'age': 24},  # ðŸ˜±
    ],
    'courses': ['maths', 'stats', 'mlf', 'pdsa', 'dbms'],
    'enrollments': [
        {'student': 'S001', 'course': 'maths', 'term': 't1', 'year': 2023},
        {'student': 'S001', 'course': 'mlf', 'term': 't2', 'year': 2023},
        {'student': 'S002', 'course': 'pdsa', 'term': 't3', 'year': 2023},
        {'student': 'S003', 'course': 'dbms', 'term': 't3', 'year': 2023},
        {'student': 'S005', 'course': 'maths', 'term': 't1', 'year': 2024}  # ðŸ˜±
    ]
}

# model >>> scalable and bulletproof ðŸ¤—

**ðŸ‘‡ a complete example ðŸ‘‡**

In [46]:
# a complete example
gradebook = {
    'students': [
        {'id': 'S001', 'name': 'vidu', 'place': 'hbh', 'age': 21},
        {'id': 'S002', 'name': 'rahul', 'place': 'albd', 'age': 21},
        {'id': 'S003', 'name': 'muskan', 'place': 'raipur', 'age': 22},
        {'id': 'S004', 'name': 'sanika', 'place': 'pune', 'age': 25},
        {'id': 'S005', 'name': 'sanika', 'place': 'mumbai', 'age': 24},  # ðŸ˜±
    ],
    'courses': [
        {'id': 'maths1', 'name': 'Mathematics for Data Science 1', 'level': 'foundations'},
        {'id': 'maths2', 'name': 'Mathematics for Data Science 2', 'level': 'foundations'},
        {'id': 'stats', 'name': 'Statistics for Data Science', 'level': 'foundations'},
        {'id': 'mlf', 'name': 'Machine Learning Foundations', 'level': 'diploma'},
        {'id': 'pdsa', 'name': 'PDSA using Python', 'level': 'diploma'},
        {'id': 'dbms', 'name': 'Database Management Systems', 'level': 'diploma'},
    ],
    'enrollments': [
        {'student': 'S001', 'course': 'maths1', 'term': 't1', 'year': 2023},
        {'student': 'S001', 'course': 'mlf', 'term': 't2', 'year': 2023},
        {'student': 'S002', 'course': 'pdsa', 'term': 't3', 'year': 2023},
        {'student': 'S003', 'course': 'dbms', 'term': 't3', 'year': 2023},
        {'student': 'S005', 'course': 'maths1', 'term': 't1', 'year': 2024}  # ðŸ˜±
    ]
}

In [47]:
[row for row in gradebook['students']]

[{'id': 'S001', 'name': 'vidu', 'place': 'hbh', 'age': 21},
 {'id': 'S002', 'name': 'rahul', 'place': 'albd', 'age': 21},
 {'id': 'S003', 'name': 'muskan', 'place': 'raipur', 'age': 22},
 {'id': 'S004', 'name': 'sanika', 'place': 'pune', 'age': 25},
 {'id': 'S005', 'name': 'sanika', 'place': 'mumbai', 'age': 24}]

In [48]:
[row['id'] for row in gradebook['students']]
[row['name'] for row in gradebook['students']]
[row['name'] for row in gradebook['students'] if row['age'] >= 22]
[row['id'] for row in gradebook['students'] if row['name'] == 'sanika']

['S001', 'S002', 'S003', 'S004', 'S005']

['vidu', 'rahul', 'muskan', 'sanika', 'sanika']

['muskan', 'sanika', 'sanika']

['S004', 'S005']

In [49]:
[row for row in gradebook['enrollments']]

[{'student': 'S001', 'course': 'maths1', 'term': 't1', 'year': 2023},
 {'student': 'S001', 'course': 'mlf', 'term': 't2', 'year': 2023},
 {'student': 'S002', 'course': 'pdsa', 'term': 't3', 'year': 2023},
 {'student': 'S003', 'course': 'dbms', 'term': 't3', 'year': 2023},
 {'student': 'S005', 'course': 'maths1', 'term': 't1', 'year': 2024}]

In [50]:
[row['student'] for row in gradebook['enrollments']]
[row['student'] for row in gradebook['enrollments'] if row['year'] == 2024]

['S001', 'S001', 'S002', 'S003', 'S005']

['S005']

In [51]:
[row['course'] for row in gradebook['enrollments'] if row['student'] == 'S001']
[row['course'] for row in gradebook['enrollments'] if row['student'] in ['S001', 'S002']]

['maths1', 'mlf']

['maths1', 'mlf', 'pdsa']

In [52]:
students_who_21yo = [row['id'] for row in gradebook['students'] if row['age'] == 21]
students_who_21yo

[row['course'] for row in gradebook['enrollments'] if row['student'] in students_who_21yo]

['S001', 'S002']

['maths1', 'mlf', 'pdsa']